In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_nam' : course_name, 'duration' : duration})
df

         course_nam  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
df.iloc[1]

course_nam    Machine Learning
duration                     3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## In Pandas, both 'loc' and 'iloc' are used to select data from a dataframe. However, they differ in the way they reference rows and columns. 'loc' is used to select data based on the labels of rows or columns. It takes the labels of rows and/or columns as input and returns a dataframe with the matching rows and columns. 
## 'iloc', on the other hand, is used to select data based on the integer indices of rows or columns. It takes the integer indices of rows and/or columns as input and returns a dataframe with the matching rows and columns.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.
# new_df.loc[2]Consider the below code to answer further questions:

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.548068  0.311535  0.113266  0.023720  0.114546  0.546601
2  0.878089  0.600690  0.078909  0.414207  0.142076  0.086855
3  0.988330  0.962461  0.155010  0.714769  0.791597  0.661842
4  0.107108  0.429866  0.253918  0.732765  0.801766  0.661618
5  0.138454  0.971467  0.090964  0.358433  0.338566  0.217156
6  0.287060  0.169800  0.674442  0.645250  0.220754  0.299498

In [7]:
new_df = df.reindex(index = [3,0,1,2])

In [8]:
new_df

         course_nam  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [9]:
new_df.loc[2]

course_nam    Big Data
duration             6
Name: 2, dtype: object

In [10]:
new_df.iloc[2]

course_nam    Machine Learning
duration                     3
Name: 1, dtype: object

## here both the output for 'loc[2]' & 'iloc[2]' is different. this is beacuse loc selects the level of the row whereas iloc selects the integer index of the row.

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.548068  0.311535  0.113266  0.023720  0.114546  0.546601
2  0.878089  0.600690  0.078909  0.414207  0.142076  0.086855
3  0.988330  0.962461  0.155010  0.714769  0.791597  0.661842
4  0.107108  0.429866  0.253918  0.732765  0.801766  0.661618
5  0.138454  0.971467  0.090964  0.358433  0.338566  0.217156
6  0.287060  0.169800  0.674442  0.645250  0.220754  0.299498

In [12]:
df1.mean()

column_1    0.491185
column_2    0.574303
column_3    0.227751
column_4    0.481524
column_5    0.401551
column_6    0.412262
dtype: float64

In [13]:
df1['column_2'].std()

0.33545038357176243

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [18]:
df1['column_2'] = 'string'

In [20]:
df1.drop('column_2',axis = 1, inplace = True)

In [39]:
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.879967   string  0.890477  0.851651  0.272661  0.776508
2  0.743712   string  0.329596  0.109013  0.985232  0.301176
3  0.733659   string  0.537706  0.957407  0.867588  0.604431
4  0.093640   string  0.103935  0.878434  0.058314  0.708817
5  0.125482   string  0.453644  0.353663  0.432365  0.619786
6  0.265294   string  0.052344  0.567060  0.510372  0.153567

In [40]:
df1['column_2'].mean()

TypeError: Could not convert stringstringstringstringstringstring to numeric

## this is showing error beacuse the column_2 is made by string values and mean can be find only in the interger values.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

# In pandas, window functions are used to perform calculations over a sliding window of data points, usually over a defined period or a certain number of rows. These functions enable us to compute metrics such as moving averages, rolling sums, and more.

## There are different types of window functions in pandas, which are categorized based on their computation behavior. Some of the commonly used types of window functions are:

## 1. Rolling window functions: These functions calculate the metric over a sliding window of data points with a fixed size. The size of the window can be specified by the user, and the function computes the metric for each window.

## 2. Expanding window functions: These functions compute the metric over a growing window of data points. The computation starts from the beginning of the data and adds one data point at a time. The window size grows until it encompasses all the data.

## 3. Cumulative window functions: These functions compute the metric for each data point, using all the data points that have come before it. The computation builds up cumulatively as new data points are added.

## 4. Rolling time window functions: These functions calculate the metric over a sliding window of data points based on a time interval. The window size is defined by a time period, and the function computes the metric for each window based on the data points within that time period.

## 5.Expanding time window functions: These functions compute the metric over a growing window of data points based on a time interval. The computation starts from the beginning of the data and adds one data point at a time based on the time interval. The window size grows until it encompasses all the data.

## Examples of window functions in pandas include rolling(), expanding(), rolling_mean(), rolling_sum(), expanding_mean(), cumsum(), cummax(), cummin(), and many more. These functions are very powerful tools for analyzing time series data and can be used for a wide variety of applications, including trend analysis, anomaly detection, and forecasting.

# Q7. Write a code to print only the current month and year at the time of answering this question.

In [2]:
import datetime

now = datetime.datetime.now()

current_month = now.month
current_year = now.year

# print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 3
Current Year: 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

# prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the timedelta between the two dates
delta = date2 - date1

# extract the number of days, hours, and minutes from the timedelta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# display the result
print("The difference between", date1.date(), "and", date2.date(), "is:")
print("- {} days".format(days))
print("- {} hours".format(hours))
print("- {} minutes".format(minutes))

In [ ]:
pd.

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [47]:
import pandas as pd

# prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
cat_order = input("Enter the category order (comma-separated): ").split(",")

# read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# convert the specified column to a categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# sort the DataFrame by the specified column
df = df.sort_values(by=col_name)

# display the sorted data
print(df)

Enter the file path:  test3.csv
Enter the column name:  Sex
Enter the category order (comma-separated):  male, female

     Unnamed: 0  PassengerId  Survived  Pclass  \
0             0            1         0       3
604         604          605         1       1
605         605          606         0       3
606         606          607         0       3
607         607          608         1       1
..          ...          ...       ...     ...
880         880          881         1       2
882         882          883         0       3
885         885          886         0       3
887         887          888         1       1
888         888          889         0       3

                                             Name   Sex   Age  SibSp  Parch  \
0                         Braund, Mr. Owen Harris  male  22.0      1      0
604               Homer, Mr. Harry ("Mr E Haven")  male  35.0      0      0
605                 Lindell, Mr. Edvard Bengtsson  male  36.0      1      0
606                             Karaic, Mr. Milan  male  30.0      0      0
607                   Daniel, Mr. Robert Williams  male  27.0      0      0
..                                            ...   ...   ...    ...    ...
880  Shelley, Mrs. William (Imanita Parrish Hall)   NaN  25.0      0      1
882                  Dahlberg, Miss. Gerda Ulrika   NaN  22.0      0      0
885          Rice, Mrs. William (Margaret Norton)   NaN  39.0      0      5
887                  Graham, Miss. Margaret Edith   NaN  19.0      0      0
888      Johnston, Miss. Catherine Helen "Carrie"   NaN   NaN      1      2

         Ticket     Fare Cabin Embarked
0     A/5 21171   7.2500   NaN        S
604      111426  26.5500   NaN        C
605      349910  15.5500   NaN        S
606      349246   7.8958   NaN        S
607      113804  30.5000   NaN        S
..          ...      ...   ...      ...
880      230433  26.0000   NaN        S
882        7552  10.5167   NaN        S
885      382652  29.1250   NaN        Q
887      112053  30.0000   B42        S
888  W./C. 6607  23.4500   NaN        S

[891 rows x 13 columns]

# Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file using pandas
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime format
df['Column6'] = pd.to_datetime(df['Date'])

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

# Resample the data to monthly frequency and sum the sales for each category
df = df.resample('M').sum()

# Create a stacked bar chart to show the sales of each category over time
df.plot(kind='bar', stacked=True)

# Set the chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Month')
plt.ylabel('Sales')

# Display the chart
plt.show()

Enter the file path:  sales_data.csv

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [12]:
import pandas as pd
df = pd.DataFrame({'Student_ID' : [1,2,3,4,5,6,7,8,9,10],
                   'test_score' :  [85,90,92,78,88,90,85,78,88,90]
 })
df

   Student_ID  test_score
0           1          85
1           2          90
2           3          92
3           4          78
4           5          88
5           6          90
6           7          85
7           8          78
8           9          88
9          10          90

In [16]:
df.to_csv('test4.csv')

In [20]:
import pandas as pd

# Read CSV file into a Pandas DataFrame
data = pd.read_csv("test4.csv")

# Calculate mean, median, and mode of test scores
mean_score = round(data['test_score'].mean(), 2)
median_score = data['test_score'].median()
mode_score = data['test_score'].mode()[0]

# Create a Pandas DataFrame with the results
results_df = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, mode_score]
})

# Display the results table
print(results_df)

  Statistic  Value
0      Mean   86.4
1    Median   88.0
2      Mode   90.0